[tool.poetry]
name = "web3mt"
version = "0.0.4"
description = "Web3 multitool"
authors = ["timertimertimer <timerkhan2002@gmail.com>"]
repository = "https://github.com/timertimertimer/web3mt"
packages = [{include = "web3mt"}]

[tool.poetry.urls]
Source = "https://github.com/timertimertimer/web3mt"

[tool.poetry.dependencies]
python = "^3.11"
web3 = "^6.17.2"
web3db = "^1.0.2"
python-okx = "^0.2.8"
loguru = "^0.7.2"
curl-cffi = "^0.6.2"
better-proxy = "^1.1.5"
aptos-sdk = "^0.7.1"
aioimaplib = "^1.0.1"

[tool.poetry.group.dev.dependencies]
python-dotenv = "^1.0.1"
aiohttp-proxy = "^0.1.2"
aiosqlite = "^0.20.0"
jwt = "^1.3.1"
nltk = "^3.8.1"
tweepy-self = "^1.9.0"
bitcoin-utils = "^0.6.6"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
